extends layout

block content
  include menu.pug

  div.items-center.flex.flex-wrap.gap-20.justify-between
    h1 Listado de Usuarios
    a.button(href="/users/create") Crear Usuario
  div.table-container
    table
      thead
        tr
          th Nombre
          th Email
          th Acciones
      tbody
        each user in users
          tr
            td= user.name
            td= user.email
            td
              div.table-actions
                a.button(href=`/users/${user._id}`) Ver
                a.button(href=`/users/${user._id}/edit`) Editar
                form.table-form(action=`/users/${user._id}/delete` method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');")
                  button(type="submit" class="btn-delete") Eliminar